<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= check_box_tag 'done', "1", task.completed, class: "checkbox" %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to "Delete this task", task_path(task), method: :delete,
      data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<a data-confirm="Are you sure=" rel="nofollow" data-method="delete" href="/tasks/#{task.id}">
Delete the task</a>
